<div class="col-md-8 col-md-offset-2">
	<h1 style="margin-top:50px;">All Articles</h1>

	<ul id="articles" style="margin-top: 45px; margin-bottom: 50px;">
		<% @articles.each do |article| %>
			<li>
				<h3><%= link_to article.title, article_path(article) %> </h3>
				<p> <%= article.created_at.to_formatted_s(:long_ordinal)  %></p>
			</li>
		<% end %>
	</ul>

	<%= link_to "Create a New Article", new_article_path, class: "new_article", class: "btn btn-primary" %>

</div>